<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>

  <!-- Begin Mailchimp Signup Form -->
  <style type="text/css">
    #mc_embed_signup form {     
      margin-top: 30px;
      padding: 20px !important;
      border: 2px dashed rgba(0,0,0,0.2);
      border-radius: 5px; 
    }
    #mc_embed_signup label { padding-bottom: 0 !important; }
    #mc_embed_signup{background:#fff; clear:left; }
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
  <form action="https://github.us10.list-manage.com/subscribe/post?u=3eecba0d9ad92e0ce9e1b4055&amp;id=4c366dafa2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL" style="color: #00b7c8;">Stay in touch!</label>
    <p>Get monthly post updates</p>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3eecba0d9ad92e0ce9e1b4055_4c366dafa2" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>
  <!--End mc_embed_signup-->

</article>
<%- partial('_partial/comments') %>
